{
    "extends":  [
        "airbnb/base"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "no-console": ["off"],
        "generators":  ["off"],
        "no-unused-expressions": ["off",  "allow-fast-null-checks"],
        "no-useless-return": "off",
        "class-methods-use-this": ["off", { "exceptMethods": ["<...exceptions>"] }],
        "no-unused-vars": ["off", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
        "array-callback-return": ["off", {"allowImplicit": false}],
        "import/no-cycle": "off",
        "arrow-parens": ["off", { "requireForBlockBody": true }],
        "import/prefer-default-export": "off",
        "no-plusplus": "off",
    },
}
