@import url(normalize.css);
@import './style.css';

body {
    font-size: 16px;
    font-family: sans-serif;
}
.wrapper {
    position: relative;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.empty-screen-container {
    position: absolute;
    top: 35%;
    padding: 15px 30px;
    text-align: center;
}
.add-button {
    margin: 30px 5px 70px;
    padding: 10px 30px;
    color: #3a2c2c;
    cursor: pointer;
}
.add-button:hover,
.add-button:focus,
.add-button:active,
.button:hover {
    outline: none;
    color: #000;
}
.archive {
    display: block;
    color: #c23232;
    text-decoration: underline;
}
.archive:hover {
    text-decoration: none;
}

/* _______ Modal ___________ */
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000060;
}
.todo-form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: 15% auto;
    padding: 60px 40px 30px;
    border: 2px solid #8290A0;
    background-color: #fff;
}

#title,
#description,
#deadline {
    width: 100%;
    position: relative;
}

input,
textarea,
.button {
    width: 100%;
    border-radius: 0;
    border: 2px solid #8290A0;
    padding: 10px 5px;
    margin: 30px 0 5px;
    align-self: center;
}
.label{
    margin-top: 35px;
}
.todo-description {
    min-height: 80px;
}
.todo-description,
.todo-deadline {
    min-width: 100%;
}

.button {
    border-radius: 5px;
    margin: 50px 10px 30px;
    max-width: 50%;
    color: #3a2c2c;
    align-self: center;
    cursor: pointer;
}
 
.errInfo{
    position: absolute;
    right: 0;
    left: 0;
    bottom: -20%;
    color: #c23232;
    margin:0 0 ;
}

/* ___TASK-LIST */
.tasks-container {
    width: 80%;
    margin: 20px 5px 20px;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title-wrap,
.tasks-wrap  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.tasks-wrap {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title-wrap .add-button {
    margin:25px 15px 15px;
}

/* ________task-item________ */
.task-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px 15px;
    margin: 20px;
    text-align: center;
    border: 2px solid #8290A0;
    flex-basis: 30%;
    transition: all 0.3s;
}
@media (max-width: 1024px) {
    .task-item {
        flex-basis: 40%;
    }
}
@media (max-width: 768px) {
    .task-item {
        flex-basis:90%;
    }
}

.title {
    margin: 10px;
    font-size: 1.1em;
}
.title:first-letter {
    text-transform: uppercase;
}
.icon-box {
    text-align: right;
}
.deadline {
    text-align: right;
}
.term {
    display: inline;
    margin: 0 10px 0 0;
    font-size: 0.9em;
    line-height: 1em;
    vertical-align: top;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px 5px 0px 5px;
}

/* ____update modal */
.buttons-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.create-button {
    margin: 50px auto;
}
.update-button {
    max-width: 40%;
    background-color: #9dbfb4;
    border: 2px solid #6f877f;
}
.cancel-button {
    max-width: 40%;
}

/* __archive___ */
.archive {
    cursor: pointer;
}