

    @font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?7bgvct');
  src:  url('../assets/fonts/icomoon.eot?7bgvct#iefix') format('embedded-opentype'),
      url('../assets/fonts/icomoon.ttf?7bgvct') format('truetype'),
      url('../assets/fonts/icomoon.woff?7bgvct') format('woff'),
      url('../assets/fonts/icomoon.svg?7bgvct#icomoon') format('svg');
    
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-done_outline:before {
  content: "\e904";
  font-size: 1.3em;
}

.icon-checkmark:before {
  content: "\ea10";
  font-size: 1.4em;
}

.icon-close:before {
  content: "\e905";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
}

.icon-edit-pencil:before {
  content: "\e903";
  font-size: 1.3em;
}
.icon-edit-pencil:hover:before,
.icon-checkmark:hover:before,
.icon-done_outline:hover:before,
.icon-arrow-left-thick:before,
.icon-arrow-thick-left:before {
  color: #8ebdae;
  cursor: pointer;
}
.icon-arrow-left-thick:before,
.icon-arrow-thick-left:before {
  color: #508775;
  display: inline-block;
  content: "\e902";
  font-size: 3em;
  margin: 15px 5px 19px;

}
.icon-arrow-thick-left:before {
  content: "\e906";
}
